.discover {
    width: 100%;
    min-height: 100vh;
    background-color: #F2E3DB;
    display: flex;
    justify-content: center;
    padding-top: 6rem;
}

.products {
    width: 60%;
    min-height: 80%;
}

.cart {
    width: 20%;
}

.pushed {
    max-height: 70vh;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    padding-top: .5em;
}

.products ul {
    list-style: none;
    margin-bottom: 2em;
}

.items {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

.item_style {
    background-color: white;
    width: 15em;
    padding: calc(10px + 1em);
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 250ms ease-in-out;
    position: relative;
    padding-bottom: 3em;
}

.item_style:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.item_style img {
    border-radius: 10px;
    width: 100%;
}

.item_style h1 {
    margin-bottom: .25em;
}

.mainBtn {
    border: none;
    background-color: #41644A;
    color: white;
    font-weight: bold;
    padding: .5em 1em;
    border-radius: 5px;
    transition: all 150ms ease-in-out;
    position: absolute;
    right: 30px;
    bottom: 20px;
}

.mainBtn:hover {
    cursor: pointer;
    background-color: #263A29;
}